<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/style/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/style/css/style.css"/>
    <script type="text/javascript" src="/style/Js/jquery.js"></script>
    <script type="text/javascript" src="/style/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="/style/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/style/Js/ckform.js"></script>
    <script type="text/javascript" src="/style/Js/common.js"></script>


    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<br>
<form class="form-inline definewidth m20" action="index.htm" method="get">
    用户名称：
    <input type="text" name="username" id="username" class="abc input-default" placeholder="" value="">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-success" id="addnew">新增用户</button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>用户id</th>
        <th>登录名</th>
        <th>登录密码</th>
        <th>用户类型</th>
        <th>最后登录时间</th>
        <th>操作</th>
    </tr>
    </thead>


    #foreach($user in $userList)
        <tr>
            <td>$!{user.id}</td>
            <td>$!{user.userName}</td>
            <td>$!{user.password}</td>
            <td>管理员</td>
            <td></td>
            <td>
                <a href="/editUserUI.htm?id=$!{user.id}">编辑</a>
                <a href="/deleteUser.htm?id=$!{user.id}">删除</a>
            </td>
        </tr>
    #end
</table>
</body>
</html>
<script>
    $(function () {


        $('#addnew').click(function () {

            window.location.href = "/addUserUI.htm";
        });


    });

    function del(id) {


        if (confirm("确定要删除吗？")) {

            var url = "index.htm";

            window.location.href = url;

        }


    }
</script>