<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxnu.app.dao.NewsDao">
    <resultMap id="News" type="com.jxnu.app.model.News">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="CHAR"/>
        <result column="content" property="content" jdbcType="CHAR"/>
    </resultMap>

    <select id="findall" resultMap="News">
        select
        *
        from news
    </select>

    <insert id="addNews">
        insert into news(title,content)
        values(#{title},#{content})
    </insert>

    <delete id="deleteNews">
        delete from news where id=#{id};
    </delete>

    <select id="queryById" resultMap="News">
        select  * FROM  news WHERE id=#{id};
    </select>

    <update id="updateNews">
        UPDATE news set title=#{title},content = #{content} where id = #{id}
    </update>

</mapper>
